# Winning Wrestlers Entertainment

In this activity you will be taking four seperate csvs that were scraped down from a wrestling database, merging them together, and then creating charts to visualize a wrestler's wins and losses over the course of four years.

### Part 1 - Macho Merging

* You will likely need to perform three different merges over the course of this activity, changing the names of your columns as you go along.

In [1]:
# Import the necessary modules
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib notebook

In [2]:
# Bring each CSV into a separate data frame
wrestlers_2013 = pd.read_csv("../Resources/WWE-Data-2013.csv")
wrestlers_2014 = pd.read_csv("../Resources/WWE-Data-2014.csv")
wrestlers_2015 = pd.read_csv("../Resources/WWE-Data-2015.csv")
wrestlers_2016 = pd.read_csv("../Resources/WWE-Data-2016.csv")

In [3]:
# Merge the first two datasets (2013 and 2014) on "Wrestler" so that no data is lost (should be 182 rows)
merge_wrestlers = pd.merge(wrestlers_2013, wrestlers_2014, on="Wrestler", how="outer", suffixes=[" 2013", " 2014"])
merge_wrestlers

,Wrestler,Wins 2013,Losses 2013,Draws 2013,Wins 2014,Losses 2014,Draws 2014
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0
...,...,...,...,...,...,...,...
177,Elias Sampson,NaN,NaN,NaN,3.0,21.0,0.0
178,Chad Gable,NaN,NaN,NaN,5.0,17.0,0.0
179,Steve Cutler,NaN,NaN,NaN,4.0,15.0,0.0
180,Dana Brooke,NaN,NaN,NaN,4.0,10.0,0.0
181,Finn Balor,NaN,NaN,NaN,9.0,3.0,0.0

In [4]:
# Rename our _x columns to "2013 Wins", "2013 Losses", and "2013 Draws"

# Rename our _y columns to "2014 Wins", "2014 Losses", and "2014 Draws"

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0

In [4]:
# Merge our newly combined dataframe with the 2015 dataframe

,Wrestler,Wins 2013,Losses 2013,Draws 2013,Wins 2014,Losses 2014,Draws 2014,Wins,Losses,Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0
...,...,...,...,...,...,...,...,...,...,...
208,Tommy Dreamer,NaN,NaN,NaN,NaN,NaN,NaN,4.0,9.0,1.0
209,Levis Valenzuela Jr.,NaN,NaN,NaN,NaN,NaN,NaN,7.0,6.0,0.0
210,Cassie,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.0,0.0
211,Gionna Daddio,NaN,NaN,NaN,NaN,NaN,NaN,8.0,4.0,0.0
212,Tino Sabbatelli,NaN,NaN,NaN,NaN,NaN,NaN,1.0,11.0,0.0

In [6]:
# Rename "wins", "losses", and "draws" to "2015 Wins", "2015 Losses", and "2015 Draws"

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0

In [4]:
# Merge our newly combined dataframe with the 2016 dataframe
merge_wrestlers2 = pd.merge(wrestlers_2016, wrestlers_2016, on="Wrestler", how="outer", suffixes=[" 2015", " 2016"])
merge_wrestlers = pd.merge(merge_wrestlers, merge_wrestlers2, on="Wrestler", how="outer")
merge_wrestlers

,Wrestler,Wins 2013,Losses 2013,Draws 2013,Wins 2014,Losses 2014,Draws 2014,Wins 2015,Losses 2015,Draws 2015,Wins 2016,Losses 2016,Draws 2016
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,133.0,67.0,4.0,133.0,67.0,4.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,39.0,75.0,4.0,39.0,75.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,39.0,21.0,0.0,39.0,21.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,Nikki Cross,NaN,NaN,NaN,NaN,NaN,NaN,8.0,5.0,0.0,8.0,5.0,0.0
257,Noah Potjes,NaN,NaN,NaN,NaN,NaN,NaN,3.0,10.0,0.0,3.0,10.0,0.0
258,Cezar Bononi,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9.0,1.0,1.0,9.0,1.0
259,James Ellsworth,NaN,NaN,NaN,NaN,NaN,NaN,8.0,3.0,0.0,8.0,3.0,0.0
260,Macey Estrella,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,0.0,1.0,10.0,0.0

In [8]:
# Rename "wins", "losses", and "draws" to "2016 Wins", "2016 Losses", and "2016 Draws"

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,2016 Wins,2016 Losses,2016 Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,NaN,NaN,NaN
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0